[mysqld]
slow_query_log = 1
slow_query_log-file = /var/log/mysql/mysql-slow.log
long_query_time = 0

# mysqltuner設定
innodb_buffer_pool_size = 3G
innodb_log_file_size = 768M
key_buffer_size = 1G
read_buffer_size = 1M
sort_buffer_size = 1M
read_rnd_buffer_size = 4M

# コミットごとに更新データをログに書き、1秒ごとにログをフラッシュ
innodb_flush_log_at_trx_commit = 2

# バイナリログを無効化する
disable-log-bin = 1

# ネットワーク許可
bind-address            = 0.0.0.0
mysqlx-bind-address     = 0.0.0.0

# クライアント設定
[client]
user = isuconp
password = isuconp
